.problemStatusWrapper{

    .statusWrapper{

        .problemNumber{
            width: 5%;
        }
        .number{
            width: 15%;
        }
        .name{  
            width: 10%;
        }
        .time{
            width: 20%;
        }
        .answer{
            width: 10%;
        }
        .true{
            width: 10%;
        }
    }

}